@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
/* Colors */ /* Font Family */
/* Font Weight */
/* Font Size All Devices */
/* Font Size Desktop */
/* Font Size Tablets*/
/* Font Size Smartphones*/
/* Letter Spacing */
/* Flex */
/* Transition */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1980px;
  margin: 0 auto;
}

.products {
  text-align: center;
  margin-top: 121px;
  justify-content: center;
}

.products__tag {
  color: #ffa5ba;
  font-family: "Titan One", sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 1.145;
}

.products__title {
  color: #d41443;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  line-height: 1.145;
  letter-spacing: 0.04em;
  margin-top: 15px;
  margin-bottom: 31px;
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 98px;
  padding-left: 20px;
  padding-right: 20px;
}

.products__item {
  width: 280px;
  max-height: 598px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 113px;
  margin-bottom: 17px;
  position: relative;
}

.products__item--ice-cream {
  background-color: #ffb8ca;
}
.products__item--ice-cream::before {
  content: "";
  position: absolute;
  bottom: 346px;
  background-image: url("../images/products/home-pic1-mobile.png");
  width: 249px;
  height: 252px;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-mobile@2x.png");
  }
}
.products__item--ice-coffee {
  background-color: #f0d1a5;
}
.products__item--ice-coffee::before {
  content: "";
  position: absolute;
  bottom: 346px;
  background-image: url("../images/products/home-pic2-mobile.png");
  width: 249px;
  height: 252px;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-mobile@2x.png");
  }
}
.products__item--milkshakes {
  background-color: #c2e297;
  background-size: cover;
}
.products__item--milkshakes::before {
  content: "";
  position: absolute;
  bottom: 346px;
  background-image: url("../images/products/home-pic3-mobile.png");
  width: 249px;
  height: 252px;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-mobile@2x.png");
  }
}
.products__subtitle {
  color: #fff;
  font-family: "Titan One", sans-serif;
  text-transform: uppercase;
  line-height: 1.145;
  letter-spacing: 0.04em;
  margin-top: 161px;
  margin-bottom: 30px;
  position: relative;
}
.products__subtitle::after {
  content: "";
  background-image: url("../images/products/Group.png");
  width: 26px;
  height: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
}

.products__description {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  line-height: 1.52;
  margin-top: 30px;
  padding-left: 41px;
  padding-right: 39px;
}

.products-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 41px;
  fill: #d41443;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.products-button:hover, .products-button:focus {
  background-color: #d41443;
}
.products-button:hover svg, .products-button:focus svg {
  fill: #fff;
}
.products-button-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #d41443;
}

.products-button__icon {
  position: absolute;
  bottom: -65px;
}

@media screen and (min-width: 768px) {
  .products {
    margin-top: 122px;
  }
  .products__list {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 112px;
  }
  .products__item {
    margin-bottom: 0;
  }
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-tablet@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-tablet@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-tablet.png");
    width: 220px;
    height: 226px;
    bottom: 363px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-tablet@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__description {
    padding-left: 11px;
    padding-right: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    margin-top: 127px;
  }
  .products__list {
    gap: 24px;
    margin-bottom: 119px;
  }
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--ice-cream::before {
    background-image: url("../images/products/home-pic1-desktop@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url("../images/products/home-pic2-desktop@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-desktop.png");
    width: 335px;
    height: 335px;
    bottom: 400px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url("../images/products/home-pic3-desktop@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    padding-left: 44px;
    padding-right: 44px;
  }
}/*# sourceMappingURL=main.css.map */